# NodeJS
/node_modules
/dist

# Environment variables
.env

# Config files
.editorconfig
.ejsbrc.json
.eslintrc.js
tailwind.config.js
tsconfig.json

# Visual Studio Code
.vscode

# Miscellaneous
/temp
