<a href="pdf/MUHAMMAD_NAUFAL_KATENI_CV.pdf" type="application/pdf" title="Download" class="border bg-black text-white rounded-md p-1.5 hover:bg-gray-700 active:bg-gray-700 hover:font-bold active:font-bold" download>
    Download
</a>
