<header>
    <nav class="flex justify-between px-20 pt-1.5">
        <section class="flex items-center">
            <a href="/" title="Muhammad Naufal Kateni" class="hover:underline hover:font-bold active:font-bold focus:font-bold">
                Muhammad Naufal Kateni
            </a>
        </section>
        <section class="flex items-center gap-x-4">
            <p id="nav-about-me" title="About Me" class="hover:underline hover:font-bold active:font-bold focus:font-bold cursor-pointer">
                About Me
            </p>
            <p id="nav-my-skills" title="My Skills" class="hover:underline hover:font-bold active:font-bold focus:font-bold cursor-pointer">
                My Skills
            </p>
            <p id="nav-my-projects" title="My Projects" class="hover:underline hover:font-bold active:font-bold focus:font-bold cursor-pointer">
                My Projects
            </p>
            <%- include('download-button') %>
            <div id="switcher-container" class="w-10 h-5 rounded-full bg-slate-800 dark:bg-slate-100">
                <div id="switcher" class="w-5 h-5 rounded-full bg-slate-100 dark:bg-slate-800 cursor-pointer" title="Switch to Dark Mode"></div>
            </div>
        </section>
    </nav>
</header>
