<header>
    <nav class="flex justify-between px-20 pt-1.5">
        <section class="flex items-center">
            <a href="/" class="hover:underline active:underline hover:font-bold active:font-bold">
                Muhammad Naufal Kateni
            </a>
        </section>
        <section class="flex items-center gap-x-4">
            <a href="/#about-me" class="hover:underline active:underline hover:font-bold active:font-bold">
                About Me
            </a>
            <a href="/#my-skills" class="hover:underline active:underline hover:font-bold active:font-bold">
                My Skills
            </a>
            <a href="/#my-projects" class="hover:underline active:underline hover:font-bold active:font-bold">
                My Projects
            </a>
            <%- include('download-button') %>
        </section>
    </nav>
</header>
